<table mat-table [dataSource]="dataSource" class="mat-elevation-z5">
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef>Symbol</th>
    <td mat-cell *matCellDef="let element">{{element.symbol}}</td>
  </ng-container>

  <ng-container matColumnDef="z">
    <th mat-header-cell *matHeaderCellDef>Z</th>
    <td mat-cell *matCellDef="let element">{{element.z}}</td>
  </ng-container>

  <ng-container matColumnDef="n">
    <th mat-header-cell *matHeaderCellDef>N</th>
    <td mat-cell *matCellDef="let element">{{element.n}}</td>
  </ng-container>

  <ng-container matColumnDef="jp">
    <th mat-header-cell *matHeaderCellDef>J<sup>&pi;</sup></th>
    <td mat-cell *matCellDef="let element">{{element.jp}}</td>
  </ng-container>

  <ng-container matColumnDef="magnetic_dipole">
    <th mat-header-cell *matHeaderCellDef>&mu;</th>
    <td mat-cell *matCellDef="let element">{{element.magnetic_dipole}}</td>
  </ng-container>

  <ng-container matColumnDef="electric_quadrupole">
    <th mat-header-cell *matHeaderCellDef>Q</th>
    <td mat-cell *matCellDef="let element">{{element.electric_quadrupole}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>